@import './colors.css';

.education-container {
  background-color: var(--background-color); /* Updated to use centralized color */
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.education-container h2 {
  color: var(--highlight-text-color); /* Updated to use centralized color */
  margin-bottom: 20px;
}

.education-block {
  margin-bottom: 20px;
}

.education-block h3 {
  color: var(--primary-text-color); /* Updated to use centralized color */
  font-weight: bold;
}

.education-block p {
  color: var(--secondary-text-color); /* Updated to use centralized color */
  margin: 5px 0;
}

.duration {
  font-style: italic;
  color: var(--secondary-text-color); /* Updated to use centralized color */
}
